@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --default-color: #6581b9;
    --black: #0b0e17;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
} 
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0; margin: 0;
    outline: none; border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
}

html{
    font-size: 68%;
}

/* Start general attribute  */
.pad{
    padding: 3rem 9%;
}
.img img{
    width: 100%;
}
.section-header{
    text-align: center;
}
.section-header h1{
    text-align: center;
    font-size: 2rem;
}
.section-header p{
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 500;
}
.seperator{
    height: 10rem;
}

.danger{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    background: rgb(184, 11, 11);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding: 0 1.5rem;
}
.success{
    width: 100%;
    height: 4rem;
    background: rgb(16, 170, 16);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    padding: 0 1.5rem;
}



/* End general attribute  */

.header{
    position: fixed;
    left: 0; right: 0; top: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
    box-shadow: var(--box-shadow);
}
.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}
.header .logo img{
    width: 45px;
}

.header .navbar a{
    color: var(--black);
    font-size: 1.4rem;
    margin: 1.5rem 1.7rem;
    font-weight: 500;
}
.header .navbar.active{
    left: 0rem;
}
.header .navbar a:hover{
    color: var(--default-color);
    font-size: 1.5rem;
    font-weight: 800;
}

.header .auth a{
    color: var(--black);
    font-size: 1.4rem;
    margin: 1.5rem 2rem;
    font-weight: 500;
}
.header .auth a:nth-child(2){
    padding: 1.6rem 2.5rem;
    background: var(--default-color);
    color: #fff;
    border-radius: 3rem;
}
.header .auth a:nth-child(1):hover{
    color: var(--default-color);
}
.header .mobile{
    display: none;
}
.header .mobile span{
    font-size: 1.8rem;
    color: rgb(77, 74, 74);
    margin: 0 .5rem;
    border: 2px solid rgb(77, 74, 74);
    padding: .7rem 1rem;
    border-radius: .5rem;
}


.banner{
    margin-top: 8rem;
}
.col-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.col-2 .box{
    flex: 1 1 35rem;
}
.box-inner{
    background:#fff;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 3rem;
}
.box-inner h3{
    font-size: 1.5rem;
    padding: 1rem 0;
}
.box-inner p{
    font-size: 1.3rem;
}

.text h1{
    font-size: 3.5rem;
}
.text h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 1rem 0;

}
.text h5{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    line-height: 2.4rem;
}
.text .text-footer{
    display: flex;
    /* gap: .5rem; */
    align-items: center;
    margin-top: 2rem;
}
.text .text-footer a{
    font-size: 1.5rem;
    padding: 1.6rem 2.6rem;
    border-radius: 3rem;
    display: inline-block;
    border: 2px solid var(--default-color);
    /* background: var(--default-color); */
    color: var(--default-color);
    font-weight: 600;
}
.text .text-footer img{
    width: 180px;
    margin-left: -1rem;
}

.support-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    gap: 3rem;

}
.support-container .box{
    flex: 1 1 20rem;
    text-align: center;
    /* box-shadow: var(--box-shadow); */
    padding: 2rem;
    border-radius: 2rem;
}
.support-container .box h2{
    font-size: 1.5rem;
    margin: 1rem 0;
}
.support-container .box p{
    font-size: 1.3rem;
    margin-top:1.3rem;
    line-height: 2.2rem;
}
.enterprise .ent{
    text-align: center;
    padding: 3rem 0;
}
.enterprise .ent h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}
.enterprise .ent p{
    padding: .5rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}

.enterprise{
    background: #d2e2ee;
}

.footer-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    gap: 1rem;

}

.login-header{
    background: #bed5e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4%;
}
.login-header .logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}
.login-header .logo img{
    width: 45px;
}
.login-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    min-height: 100vh;
}
.login-container .box{
    position: relative;
    margin-top: 3rem;
    flex: 1 1 40rem;
}
.login-container .box img{
    width: 100%;
}
.login-container .box h1{
    font-size: 3rem;
}
.login-container .box p{
    font-size: 1.4rem;
    margin: 1.5rem 0;
}
.login-container .bullet .bullet-box{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.login-container .bullet .bullet-box img{
    max-width: 30px;
    max-height: 30px;
}
.background{
    background: url("../images/loginBG.png") no-repeat;
    background-size: contain;
    background-position: center;
    background-clip: border-box;
    position: relative;
    
}
.login-container .box form{
    position: absolute;
    left: 50%;
    background: #fff;
    width: 70%;
    min-height: 50rem auto;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 4rem 3rem;
}
.login-container .box form.login{
        top: 20rem;
}
.login-container .box form.signUp{
    top: 25rem;
} 
.login-container .box form h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(65, 60, 60);
}
.login-container .box form .fields{
    margin-top: 2rem;
}
.login-container .box form .fields h2{
    font-weight: 500;
    color: #3b3d44;
    font-size: 1.3rem;
}
.login-container .box form .fields input{
    margin-top: 1rem;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    padding: 0 18px;
    border: 1px solid #ebedf3;    
}
.login-container .box form .fields .btn-log{
    padding: 12px 30px;    
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    background-color: var(--default-color);
    border-radius: 6px;
    width: 100%;   
}



.footer-container .box{
    flex: 1 1 20rem;
    padding: 2rem;
    border-radius: 2rem;
}
.footer-container .box .logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}
.footer-container .logo img{
    width: 45px;
}
/* .footer-container .box .footer-navbar a{
    display: flex;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: var(--black);
    font-weight: 500;
}
.footer-container .box .footer-navbar a img{
    width: 20px;
} */
.footer-container .box h2{
    font-size: 1.5rem;
    margin: 1rem 0;
}
.ecc p{
    font-size: 1.3rem;
    margin-top:1.3rem;
    line-height: 2.2rem;
}
.quick-links{
    margin: 2rem 0;
    text-align: center;
}
.quick-links a{
    font-size: 1.3rem;
    margin: 0 1rem;
    font-weight: 500;
    color: var(--default-color);
    padding: .5rem 0;
    display: inline-block;

}
.copywright{
    text-align: center; margin-top: 4rem;border-top: 1px solid rgb(228, 237, 240) ;padding: 2rem 0;
}
@media (max-width:1225px){
    html{
        font-size: 58%;
    }
}
@media (max-width:1100px){

    .header{
        padding: 3rem 4%;
    }
    .pad{
        padding: 6rem 5% 3rem 5%;
    }

}
@media (max-width:1000px){
    .text h1{
        font-size: 3.1rem;
    }
    .header .navbar{
        position: absolute;
        top: 9.5rem;
        width: 40rem;
        height: 100vh;
        background: #fff;
        left: -120%;
        padding: 1rem 1rem;
    }
    .header .navbar a{
        display: block;
        font-size: 1.8rem;
        margin: 3rem 2rem;
    }
    .header .auth{
        display: none;
    }
    .header .mobile{
        display: block;
    }
    .support-container .box p{
        font-size: 1.5rem;
    }
    .login-container .box{
        margin-top: 0rem;
    }
    .login-container .box form{  
        width: 100%;
    }
    .login-container .box form.login{
        top: 10rem;
    }
    .login-container .box form.signUp{
        top: 18rem;
    } 

}
